  <h1><%= @survey.question.truncate(40) %></h1>

  <article>
    <header>
      <small><%= l(@survey.created_at, format: :short) %></small>
    </header>
    <%= @survey.question %>
    <div id="answer-link"><%= render partial: "surveys/answer_link", locals: { survey: @survey } %></div>
    <div id="<%= dom_id @survey %>" ></div>
    <footer>
      <div class="grid">
        <div>Total Answers: <%= @survey.answers.size %></div>
        <div>Yes: <%= @survey.positive_answers.size %> (<%= (@survey.positive_answers_rate * 100).truncate(2) %> %)</div>
        <div>No: <%= @survey.negative_answers.size %> (<%= (@survey.negative_answers_rate * 100).truncate(2) %> %)</div>
      </div>
    </footer>
  </article>
